<div class="container">
<div id="header">
<div class="form-row form-index">
    <div class="col-4">
      <%= form_tag landmarks_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Look for landmark or location"
        %>
    </div>
    <div class="form-row">
      <%= submit_tag "Search", class: "btn btn-secondary" %>
    <% end %>
    </div>
  </div>
  <h1 id="title-index" ><% if @query %>
    <p>Search results for <strong><%= @query %></strong>:</p>
    <% else %>
      <p>Showing all <%= Landmark.count %> landmarks</p>
    <% end %>
  </h1>
</div>
  <div class="card-container">
    <div class="cards-index">
      <%@landmarks.each do |landmark|%>
        <div data-aos="zoom-in" data-aos-duration="1000">
          <%= link_to landmark_path(landmark), class:"card-trip" do %>
            <div class="card-trip">
              <%= cl_image_tag landmark.photo.key %>
              <div class="card-trip-infos">
                <div>
                  <h2><%= landmark.name %></h2>
                  <p><%= landmark.location %></p>
                </div>
                <h3 class="card-trip-pricing"><%= humanized_money_with_symbol(landmark.price) %> / day</h2>
              </div>
            </div>
          <% end %>
        </div>
      <%end%>
    </div>
    <div class="map-index"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  </div>
</div>
