<%= cl_image_tag @landmark.photo.key, class:"landmark-banner"%>
<div class="container">
  <div class="layout">
    <div class="landmark-container">
      <div class="landmark-info">
        <h1><%= @landmark.name %></h1>
        <div class="description"><%= @landmark.description %></div>
        <div class="location"><%= @landmark.location %></div>
        <div class="price-per-day" data-price-per-day="<%= @landmark.price_per_day %>">
          <%=humanized_money_with_symbol(@landmark.price) %> per day
        </div>
        <div class="host-info">
          <p>Hosted by:</p>
          <div><%= cl_image_tag @landmark.user.photo.key, crop: :fill, class:"avatar-large"%></div>
          <div class="host_name"><%= @landmark.user.first_name %> <%= @landmark.user.last_name %></div>
        </div>
      </div>
      <div class="map"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <div class="booking-form">
      <h1>New Booking</h1>
      <div class="widget-content" data-unavailable="<%= @landmark.unavailable_dates.to_json %>">
        <%= render 'bookings/form', { landmark:@landmark, booking:@booking } %>
      </div>
    </div>
  </div>
</div>
