<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>Available Landmarks</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <% if @query %>
        <p>You searched for <strong><%= @query %></strong>. Here are great landmarks for you:</p>
      <% else %>
        <p>All <%= Landmark.count %> landmarks.</p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% @landmarks.each do |landmark| %>
      <div class="col-4">
        <div class="landmark-card">
          <div class="landmark-card-image" style="background-image: url('<%= landmark.picture_url %>')"></div>
          <div class="landmark-card-content">
            <div class="landmark-card-title">
              <h4><%= landmark.name %></h4>
            </div>
            <p><%= landmark.location %></p>
            <div class="flex">
              <div class="flex ml-3">
                <i class="material-icons mr-2">euro_symbol</i> <%= landmark.price_per_day %>
              </div>
            </div>
          </div>
          <div class="landmark-card-actions">
            <%= link_to 'More info', landmark_path(landmark) %>
            <%= link_to 'Edit', edit_landmark_path(landmark), class: 'ml-3 text-warning' %>
            <%= link_to "Remove", landmark_path(landmark),
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: 'ml-3 text-danger'
            %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
